<% provide(:page_title, "All Posts") %>

<h1>This is a post for index.</h1>

<% @posts.each do |post| %>
	<ul>
		<li>
			<%= post.title %>
			<%= post.body %>
			<%= post.description %>
			<%= link_to 'Show', post_path(post) %>
			<%= link_to 'Edit', edit_post_path(post) %>
			<%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
<% end %>
<%= link_to 'Create New Post', new_post_path %>